= form_for @case do |f|
  - if @case.errors.any?
    #error_explanation
      %h2= "#{pluralize(@case.errors.count, "error")} prohibited this case from being saved:"
      %ul
        - @case.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :title
  = f.text_field :keyword_list
  = f.text_area :summary, rows: 5
  = f.text_area :facts, rows: 10
  = f.text_area :held, rows: 10
  = f.text_area :comment, rows: 10
  = f.submit 'Submit'
