.row
  .medium-10.columns.medium-centered

    %h2= @case.title

    %p.keywords= "Keywords: " + @case.keyword_string

    %p= @case.summary

    %h3 Facts
    %p= @case.facts

    %h3 Held
    %p= @case.held

    %h3 Comment
    %p= @case.comment
