%h2#inpagetitle Disability Discrimination Update
%h4#byline From Spencer Keen and Monika Sobiecki


%p This site contains case summaries of almost every significiant disability discrimination appeal since 2010.  We hope you find it useful.   You are welcome to use the summaries but please acknowledge both #{link_to "Spencer and Monika", contact_path} when you do.

.row
  .small-6.medium-4.medium-offset-1.columns
    = link_to "Cases by name", cases_path, class: 'expand radius round button caseslink hide-for-small-only'
    = link_to "By name", cases_path, class: 'expand radius round button caseslink show-for-small-only'
  .small-6.medium-4.medium-offset-1.columns.end
    = link_to "Cases by keyword", by_keyword_cases_path, class: 'expand radius round button caseslink hide-for-small-only'
    = link_to "By keyword", by_keyword_cases_path, class: 'expand radius round button caseslink show-for-small-only'

.row
  .medium-5.medium-offset-3.columns
    = image_tag "disabilitysymbols.png", id: "symbols"
