%li= link_to 'Home', about_path
%li= link_to 'Contact', contact_path
%li= link_to 'Blog', posts_path
%li.has-dropdown 
  = link_to 'Cases', '#'
  %ul.dropdown
    %li= link_to 'by name', cases_path
    %li= link_to 'by keyword', by_keyword_cases_path
