!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Disability Discrimination'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Disability Discrimination'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application"
    /[if (lt IE 9) & (!IEMobile)]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    .row
      %main{:role => "main"}
        = render 'layouts/messages'
        = yield
